.container {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

.position {
    margin-right: 12px;
}

.duration {
    margin-left: 12px;
}

.durationBar {
    max-width: 800px;
    flex: 1;
    background: #eee;
    height: 5px;
    border-radius: 2.5px;
}

.positionBar {
    background: #555;
    height: 100%;
    border-radius: 2.5px;
}
