.container {
    display: grid;
    grid-template: 200px auto / 200px auto;
    padding: 30px 100px;
}

.image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: rgba(0, 0, 0, 0.9);
}

.tracks {
    margin-top: 50px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
