.container {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 60px;
}

.image {
    height: 100%;
    width: auto;
    margin-right: 10px;
}

.title {
    font-size: 14px;
    margin-bottom: 3px;
}

.artists {
    font-size: 12px;
}
