.container {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 74px;
    color: rgba(0, 0, 0, 0.9);
}

.image {
    height: 100%;
    width: auto;
    margin-right: 17px;
}

.title {
    font-size: 16px;
    margin-bottom: 5px;
}

.artists {
    font-size: 14px;
}
