.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    opacity: 0.4;
}

.skip {
    width: 12px;
}

.playPause {
    margin-left: 15px;
    margin-right: 15px;
    width: 37px;
}
