.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 21px 250px;
    background: #f2f2f2;
}

.trackDetails {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.playbackControls {
    margin-bottom: 15px;
}
