.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 250px;
    padding-right: 250px;
}

.trackDetails {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
